/* line 6, ../sass/styles.scss */
#main {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}
/* line 11, ../sass/styles.scss */
#main .row {
  margin-bottom: 45px;
}

/* line 18, ../sass/styles.scss */
#pulse:hover .loading-pulse {
  animation: pulse 2s ease-in-out infinite;
}

/* line 22, ../sass/styles.scss */
.loading-pulse {
  height: 20px;
  width: 20px;
  background-color: #0081AF;
  margin: auto;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.5, 0.5);
  }
  50% {
    opacity: .2;
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    transform: scale(0.5, 0.5);
  }
}
/* line 41, ../sass/styles.scss */
#sliders:hover .slice:nth-child(odd) {
  animation: slideLeft 2s ease-in-out infinite;
}
/* line 44, ../sass/styles.scss */
#sliders:hover .slice:nth-child(even) {
  animation: slideRight 2s ease-in-out infinite;
}

/* line 50, ../sass/styles.scss */
.sliders {
  height: 40px;
  width: 40px;
  margin: auto;
}
/* line 55, ../sass/styles.scss */
.sliders .slice {
  height: 10px;
  width: 40px;
}
/* line 59, ../sass/styles.scss */
.sliders .slice:nth-child(odd) {
  background-color: #0081AF;
}
/* line 62, ../sass/styles.scss */
.sliders .slice:nth-child(even) {
  background-color: #483D3F;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* line 85, ../sass/styles.scss */
#fan:hover .fan {
  animation: rotate 1.5s ease-in-out infinite;
}

/* line 89, ../sass/styles.scss */
.fan {
  height: 20px;
  width: 45px;
  margin: auto;
  margin-top: 30px;
}
/* line 95, ../sass/styles.scss */
.fan .blade {
  width: 100%;
  height: 5px;
}
/* line 99, ../sass/styles.scss */
.fan .blade:nth-child(1) {
  background-color: #0081AF;
  transform: translateY(7.5px);
}
/* line 103, ../sass/styles.scss */
.fan .blade:nth-child(2) {
  background-color: #7E7778;
  transform: translateY(2.5px) rotate(135deg);
}
/* line 107, ../sass/styles.scss */
.fan .blade:nth-child(3) {
  background-color: #483D3F;
  transform: translateY(-2.5px) rotate(45deg);
}
/* line 111, ../sass/styles.scss */
.fan .blade:nth-child(4) {
  background-color: #BABABA;
  transform: translateY(-7.5px) rotate(270deg);
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 127, ../sass/styles.scss */
#eq:hover .bar:nth-child(1) {
  animation: eq .5s ease-in-out infinite;
}
/* line 130, ../sass/styles.scss */
#eq:hover .bar:nth-child(2) {
  animation: eq .5s .1s ease-in-out infinite;
}
/* line 133, ../sass/styles.scss */
#eq:hover .bar:nth-child(3) {
  animation: eq .5s .2s ease-in-out infinite;
}
/* line 136, ../sass/styles.scss */
#eq:hover .bar:nth-child(4) {
  animation: eq .5s .3s ease-in-out infinite;
}
/* line 139, ../sass/styles.scss */
#eq:hover .bar:nth-child(5) {
  animation: eq .5s .4s ease-in-out infinite;
}

/* line 145, ../sass/styles.scss */
.equalizer {
  height: 50px;
  width: 50px;
  margin: auto;
}
/* line 150, ../sass/styles.scss */
.equalizer .bar {
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 50%;
}
/* line 156, ../sass/styles.scss */
.equalizer .bar:nth-child(odd) {
  background-color: #483D3F;
}
/* line 159, ../sass/styles.scss */
.equalizer .bar:nth-child(even) {
  background-color: #0081AF;
}

@keyframes eq {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
