/* line 6, ../sass/styles.scss */
.columns {
  margin: 15px 0;
}

/* line 9, ../sass/styles.scss */
#main {
  max-width: 850px;
  margin: auto;
  text-align: center;
}
/* line 17, ../sass/styles.scss */
#main #top {
  margin-bottom: 0;
}

/* line 23, ../sass/styles.scss */
#pulse:hover .loading-pulse {
  animation: pulse 2s ease-in-out infinite;
}

/* line 27, ../sass/styles.scss */
.loading-pulse {
  height: 20px;
  width: 20px;
  background-color: #0081AF;
  margin: auto;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0.5, 0.5);
  }
  50% {
    opacity: .2;
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 1;
    transform: scale(0.5, 0.5);
  }
}
/* line 46, ../sass/styles.scss */
#sliders:hover .slice:nth-child(odd) {
  animation: slideLeft 2s ease-in-out infinite;
}
/* line 49, ../sass/styles.scss */
#sliders:hover .slice:nth-child(even) {
  animation: slideRight 2s ease-in-out infinite;
}

/* line 55, ../sass/styles.scss */
.sliders {
  height: 40px;
  width: 40px;
  margin: auto;
}
/* line 60, ../sass/styles.scss */
.sliders .slice {
  height: 5px;
  width: 40px;
}
/* line 64, ../sass/styles.scss */
.sliders .slice:nth-child(odd) {
  background-color: #0081AF;
}
/* line 67, ../sass/styles.scss */
.sliders .slice:nth-child(even) {
  background-color: #483D3F;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-15px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* line 90, ../sass/styles.scss */
#fan:hover .fan {
  animation: rotate 1.8s ease-in-out infinite;
}

/* line 94, ../sass/styles.scss */
.fan {
  height: 20px;
  width: 45px;
  margin: auto;
  margin-top: 30px;
}
/* line 100, ../sass/styles.scss */
.fan .blade {
  width: 100%;
  height: 5px;
}
/* line 104, ../sass/styles.scss */
.fan .blade:nth-child(1) {
  background-color: #0081AF;
  transform: translateY(7.5px);
}
/* line 108, ../sass/styles.scss */
.fan .blade:nth-child(2) {
  background-color: #7E7778;
  transform: translateY(2.5px) rotate(135deg);
}
/* line 112, ../sass/styles.scss */
.fan .blade:nth-child(3) {
  background-color: #483D3F;
  transform: translateY(-2.5px) rotate(45deg);
}
/* line 116, ../sass/styles.scss */
.fan .blade:nth-child(4) {
  background-color: #BABABA;
  transform: translateY(-7.5px) rotate(270deg);
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 132, ../sass/styles.scss */
#eq:hover .bar:nth-child(1) {
  animation: eq .5s ease-in-out infinite;
}
/* line 135, ../sass/styles.scss */
#eq:hover .bar:nth-child(2) {
  animation: eq .5s .1s ease-in-out infinite;
}
/* line 138, ../sass/styles.scss */
#eq:hover .bar:nth-child(3) {
  animation: eq .5s .2s ease-in-out infinite;
}
/* line 141, ../sass/styles.scss */
#eq:hover .bar:nth-child(4) {
  animation: eq .5s .3s ease-in-out infinite;
}
/* line 144, ../sass/styles.scss */
#eq:hover .bar:nth-child(5) {
  animation: eq .5s .4s ease-in-out infinite;
}

/* line 150, ../sass/styles.scss */
.equalizer {
  height: 50px;
  width: 50px;
  margin: auto;
}
/* line 155, ../sass/styles.scss */
.equalizer .bar {
  width: 10px;
  height: 10px;
  float: left;
  border-radius: 50%;
}
/* line 161, ../sass/styles.scss */
.equalizer .bar:nth-child(odd) {
  background-color: #483D3F;
}
/* line 164, ../sass/styles.scss */
.equalizer .bar:nth-child(even) {
  background-color: #0081AF;
}

@keyframes eq {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 181, ../sass/styles.scss */
#dna:hover .dna-left .strand:nth-child(1) {
  animation: dnaLeft .8s ease-in-out infinite;
}
/* line 184, ../sass/styles.scss */
#dna:hover .dna-left .strand:nth-child(2) {
  animation: dnaLeft .8s .1s ease-in-out infinite;
}
/* line 187, ../sass/styles.scss */
#dna:hover .dna-left .strand:nth-child(3) {
  animation: dnaLeft .8s .2s ease-in-out infinite;
}
/* line 190, ../sass/styles.scss */
#dna:hover .dna-left .strand:nth-child(4) {
  animation: dnaLeft .8s .3s ease-in-out infinite;
}
/* line 193, ../sass/styles.scss */
#dna:hover .dna-left .strand:nth-child(5) {
  animation: dnaLeft .8s .4s ease-in-out infinite;
}
/* line 200, ../sass/styles.scss */
#dna:hover .dna-right .strand:nth-child(1) {
  animation: dnaRight .8s ease-in-out infinite;
}
/* line 203, ../sass/styles.scss */
#dna:hover .dna-right .strand:nth-child(2) {
  animation: dnaRight .8s .1s ease-in-out infinite;
}
/* line 206, ../sass/styles.scss */
#dna:hover .dna-right .strand:nth-child(3) {
  animation: dnaRight .8s .2s ease-in-out infinite;
}
/* line 209, ../sass/styles.scss */
#dna:hover .dna-right .strand:nth-child(4) {
  animation: dnaRight .8s .3s ease-in-out infinite;
}
/* line 212, ../sass/styles.scss */
#dna:hover .dna-right .strand:nth-child(5) {
  animation: dnaRight .8s .4s ease-in-out infinite;
}

/* line 219, ../sass/styles.scss */
.full-dna {
  height: 50px;
  width: 50px;
  margin: auto;
}
/* line 224, ../sass/styles.scss */
.full-dna .dna {
  width: 50%;
  float: left;
  text-align: center;
}
/* line 229, ../sass/styles.scss */
.full-dna .dna .strand {
  height: 10px;
  width: 10px;
  margin: auto;
  border-radius: 50%;
}
/* line 235, ../sass/styles.scss */
.full-dna .dna .strand:nth-child(odd) {
  background-color: #483D3F;
}
/* line 238, ../sass/styles.scss */
.full-dna .dna .strand:nth-child(even) {
  background-color: #0081AF;
}

@keyframes dnaLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes dnaRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0);
  }
}
/* line 260, ../sass/styles.scss */
#word:hover span:nth-child(1) {
  animation: flip 1.3s ease-in-out infinite;
}
/* line 263, ../sass/styles.scss */
#word:hover span:nth-child(2) {
  animation: flip 1.3s .1s ease-in-out infinite;
}
/* line 266, ../sass/styles.scss */
#word:hover span:nth-child(3) {
  animation: flip 1.3s .2s ease-in-out infinite;
}
/* line 269, ../sass/styles.scss */
#word:hover span:nth-child(4) {
  animation: flip 1.3s .3s ease-in-out infinite;
}
/* line 272, ../sass/styles.scss */
#word:hover span:nth-child(5) {
  animation: flip 1.3s .4s ease-in-out infinite;
}
/* line 275, ../sass/styles.scss */
#word:hover span:nth-child(6) {
  animation: flip 1.3s .5s ease-in-out infinite;
}
/* line 278, ../sass/styles.scss */
#word:hover span:nth-child(7) {
  animation: flip 1.3s .6s ease-in-out infinite;
}

/* line 285, ../sass/styles.scss */
.word span {
  display: inline-block;
}

@keyframes flip {
  100% {
    transform: rotateX(360deg);
  }
}
/* line 297, ../sass/styles.scss */
#burst:hover .dots {
  animation: rotate 1s ease-in-out infinite;
}
/* line 301, ../sass/styles.scss */
#burst:hover .dot:nth-child(1) {
  animation: burstUpLeft 1s ease-in-out infinite;
}
/* line 304, ../sass/styles.scss */
#burst:hover .dot:nth-child(2) {
  animation: burstUpRight 1s ease-in-out infinite;
}
/* line 307, ../sass/styles.scss */
#burst:hover .dot:nth-child(3) {
  animation: burstDownLeft 1s ease-in-out infinite;
}
/* line 310, ../sass/styles.scss */
#burst:hover .dot:nth-child(4) {
  animation: burstDownRight 1s ease-in-out infinite;
}

/* line 316, ../sass/styles.scss */
.dots {
  height: 40px;
  width: 40px;
  margin: auto;
}
/* line 321, ../sass/styles.scss */
.dots .dot {
  height: 20px;
  width: 50%;
  border-radius: 50%;
  margin: auto;
  float: left;
}
/* line 328, ../sass/styles.scss */
.dots .dot:nth-child(odd) {
  background-color: #483D3F;
}
/* line 331, ../sass/styles.scss */
.dots .dot:nth-child(even) {
  background-color: #0081AF;
}

@keyframes burstUpLeft {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-15px, -15px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes burstUpRight {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(15px, -15px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes burstDownRight {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(15px, 15px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes burstDownLeft {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-15px, 15px);
  }
  100% {
    transform: translate(0);
  }
}
/* line 360, ../sass/styles.scss */
#falling-box:hover .box {
  animation: fallBox 3s ease-in infinite;
}

/* line 365, ../sass/styles.scss */
.falling-box {
  height: 150px;
  width: 150px;
  margin: auto;
}
/* line 369, ../sass/styles.scss */
.falling-box .box {
  height: 20px;
  width: 20px;
  background-color: #483D3F;
}
/* line 374, ../sass/styles.scss */
.falling-box .platform {
  height: 50px;
  width: 50px;
  border-top: 2px solid #0081AF;
  border-right: 2px solid #0081AF;
}

@keyframes fallBox {
  0% {
    transform: translate(0, 0em) rotate(45deg);
  }
  5% {
    transform: translate(10px, 0em) rotate(90deg);
  }
  20% {
    transform: translate(20px, 0em) rotate(135deg);
  }
  25% {
    transform: translate(30px, 0em) rotate(180deg);
  }
  30% {
    transform: translate(40px, 0em) rotate(225deg);
  }
  45% {
    transform: translate(50px, 0em) rotate(270deg);
  }
  50% {
    transform: translate(55px, 10px) rotate(315deg);
  }
  55% {
    transform: translate(55px, 20px) rotate(330deg);
  }
  60% {
    transform: translate(55px, 30px) rotate(350deg);
  }
  65% {
    transform: translate(55px, 40px) rotate(360deg);
  }
  70% {
    transform: translate(55px, 50px) rotate(365deg);
  }
  75% {
    transform: translate(55px, 60px) rotate(370deg);
  }
  100% {
    transform: translate(55px, 70px) rotate(375deg);
  }
}
