/* line 10, ../sass/components/_global.scss */
.container {
  width: 100%;
  padding: 0;
  max-width: 1020px;
}

/* line 16, ../sass/components/_global.scss */
body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F6F6F6;
  color: #483D3F;
  animation-name: fadeIn;
  opacity: 0;
  animation: 0.5s;
}

/* line 25, ../sass/components/_global.scss */
a {
  color: #483D3F;
}
/* line 28, ../sass/components/_global.scss */
a:hover {
  color: #fff;
}

@keyframes grow {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.3% {
    transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  8.61% {
    transform: matrix3d(1.013, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  12.91% {
    transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.22% {
    transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  28.33% {
    transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  39.44% {
    transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  61.66% {
    transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  83.98% {
    transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 48, ../sass/components/_global.scss */
.my-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

/* line 55, ../sass/components/_global.scss */
.letter {
  margin: 0 2px;
}

/* line 58, ../sass/components/_global.scss */
.letter-space {
  display: none;
}

/* line 61, ../sass/components/_global.scss */
.letter-7 {
  margin-right: 10px;
}

/* line 66, ../sass/components/_global.scss */
.icobutton::after {
  border: 5px solid rgba(79, 126, 139, 0.8);
}

/* line 70, ../sass/components/_global.scss */
.icobutton:hover::after {
  -webkit-animation: anim-effect-jelena 0.4s ease-out forwards;
  animation: anim-effect-jelena 0.4s ease-out forwards;
}

/* line 74, ../sass/components/_global.scss */
.icobutton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -79% 0 0 -80%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
    transform: scale3d(1.5, 1.5, 1);
  }
}
/* line 3, ../sass/components/_nav.scss */
#nav {
  text-align: center;
}
/* line 6, ../sass/components/_nav.scss */
#nav #me {
  border-top: 0;
  border-bottom: 0;
}
/* line 10, ../sass/components/_nav.scss */
#nav #me h2,
#nav #me h5 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 960px) {
  /* line 6, ../sass/components/_nav.scss */
  #nav #me {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 22, ../sass/components/_nav.scss */
#nav .pic {
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  /* line 22, ../sass/components/_nav.scss */
  #nav .pic {
    width: 30%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 22, ../sass/components/_nav.scss */
  #nav .pic {
    width: 45%;
  }
}
/* line 36, ../sass/components/_nav.scss */
#nav .columns {
  margin-left: 0;
}
@media only screen and (max-width: 960px) {
  /* line 40, ../sass/components/_nav.scss */
  #nav #right {
    text-align: center;
  }
}
/* line 46, ../sass/components/_nav.scss */
#nav #blurb {
  padding-right: 20px;
  text-align: center;
  width: 50%;
  margin: 10px auto;
}
@media only screen and (max-width: 960px) {
  /* line 46, ../sass/components/_nav.scss */
  #nav #blurb {
    padding: 0 40px;
    width: 80%;
  }
}

/* line 59, ../sass/components/_nav.scss */
#stuff a {
  display: inline-block;
  font-weight: bold;
}
/* line 63, ../sass/components/_nav.scss */
#stuff p {
  margin: 20px 0;
}
/* line 66, ../sass/components/_nav.scss */
#stuff button {
  border: 1px solid #483D3F;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 7px 15px;
  height: 50px;
  width: 100px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}
/* line 87, ../sass/components/_nav.scss */
#stuff button a {
  text-decoration: none;
}
/* line 91, ../sass/components/_nav.scss */
#stuff .hover-effect {
  overflow: hidden;
}
/* line 94, ../sass/components/_nav.scss */
#stuff .hover-effect::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 70%;
  height: 0;
  top: 50%;
  left: 50%;
  background: rgba(79, 126, 139, 0.8);
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/* line 114, ../sass/components/_nav.scss */
#stuff .hover-effect:hover:after {
  height: 260%;
  opacity: 1;
}
/* line 119, ../sass/components/_nav.scss */
#stuff .hover-effect:active:after {
  height: 400%;
  opacity: 1;
}

/* line 125, ../sass/components/_nav.scss */
#social button {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}
/* line 137, ../sass/components/_nav.scss */
#social a {
  text-decoration: none;
}
/* line 140, ../sass/components/_nav.scss */
#social span {
  display: block;
  font-size: 40px;
  margin: 5px 5px;
}
/* line 146, ../sass/components/_nav.scss */
#social .fa-twitter:before {
  content: "\f099";
}
/* line 151, ../sass/components/_nav.scss */
#social .fa-github:before {
  content: "\f09b";
}
/* line 156, ../sass/components/_nav.scss */
#social .fa-linkedin-square:before {
  content: "\f08c";
}

/* line 2, ../sass/components/_project.scss */
#projects {
  text-align: center;
}
@media only screen and (min-width: 961px) {
  /* line 5, ../sass/components/_project.scss */
  #projects .columns {
    float: right;
  }
}
/* line 11, ../sass/components/_project.scss */
#projects h4 {
  font-weight: bold;
  border: 1px dotted #483D3F;
  margin-bottom: 0;
  border-bottom: 0;
  padding: 10px;
}
/* line 22, ../sass/components/_project.scss */
#projects .project-container {
  height: 275px;
  border: 1px dotted #483D3F;
  border-bottom: none;
  text-align: center;
  background-size: 35% !important;
  background-color: #F6F6F6;
}
@media only screen and (max-width: 960px) {
  /* line 22, ../sass/components/_project.scss */
  #projects .project-container {
    background-size: 47% !important;
    background-position-x: 90% !important;
    border-right: none;
    border-left: none;
  }
}
/* line 38, ../sass/components/_project.scss */
#projects .project-container span {
  display: block;
  padding-left: 60px;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  transform: translateZ(0);
}
@media only screen and (max-width: 960px) {
  /* line 38, ../sass/components/_project.scss */
  #projects .project-container span {
    padding-left: 20px;
  }
}
/* line 49, ../sass/components/_project.scss */
#projects .project-container a {
  text-decoration: none;
}
/* line 53, ../sass/components/_project.scss */
#projects .project-container .project-info {
  opacity: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 22px;
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-filter: blur(0);
}
@media only screen and (max-width: 960px) {
  /* line 53, ../sass/components/_project.scss */
  #projects .project-container .project-info {
    width: 50%;
    font-size: 18px;
  }
}
/* line 71, ../sass/components/_project.scss */
#projects .project-container .project-info .name {
  padding-top: 50px;
  font-weight: bold;
}
/* line 75, ../sass/components/_project.scss */
#projects .project-container .project-info .date {
  font-style: italic;
}
@media only screen and (max-width: 960px) {
  /* line 53, ../sass/components/_project.scss */
  #projects .project-container .project-info {
    opacity: 1;
    color: #483D3F;
  }
}
/* line 89, ../sass/components/_project.scss */
#projects .project-container:hover .project-info {
  opacity: 1;
  transition: opacity .2s ease-in;
  background-color: rgba(0, 129, 175, 0.7);
  background: rgba(0, 129, 175, 0.7);
  color: #fff;
  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-perspective: 1000;
}
@media only screen and (max-width: 960px) {
  /* line 89, ../sass/components/_project.scss */
  #projects .project-container:hover .project-info {
    background-color: transparent;
    background: transparent;
    color: #483D3F;
  }
}
/* line 104, ../sass/components/_project.scss */
#projects .project-container:hover .project-info span {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
@media only screen and (min-width: 961px) {
  /* line 89, ../sass/components/_project.scss */
  #projects .project-container:hover .project-info {
    animation: grow 900ms linear both;
  }
}

@font-face {
  font-family: 'ecoico';
  src: url("fonts/ecoico.eot");
  src: url("fonts/ecoico.eot?#iefix") format("embedded-opentype"), url("fonts/ecoico.woff") format("woff"), url("fonts/ecoico.ttf") format("truetype"), url("fonts/ecoico.svg#ecoico") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Made with http://icomoon.io/ */
/* line 12, ../sass/components/_timeline.scss */
.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
/* line 31, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li {
  position: relative;
}

/* The date/time */
/* line 36, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
  left: -95px;
}

/* line 44, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

/* line 49, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

/* line 54, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
}

/* Right content */
/* line 59, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 auto 15px auto;
  background: #3594cb;
  color: #fff;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
  width: 45%;
}

/* line 72, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #6cbfee;
}

/* line 76, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The triangle */
/* line 83, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}

/* line 96, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #6cbfee;
}

/* The icons */
/* line 101, ../sass/components/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #afdcf8;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}

/* line 124, ../sass/components/_timeline.scss */
.cbp_tmicon-phone:before {
  content: "\e000";
}

/* line 128, ../sass/components/_timeline.scss */
.cbp_tmicon-screen:before {
  content: "\e001";
}

/* line 132, ../sass/components/_timeline.scss */
.cbp_tmicon-mail:before {
  content: "\e002";
}

/* line 136, ../sass/components/_timeline.scss */
.cbp_tmicon-earth:before {
  content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  /* line 143, ../sass/components/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  /* line 149, ../sass/components/_timeline.scss */
  .cbp_tmtimeline:before {
    display: none;
  }

  /* line 153, ../sass/components/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  /* line 159, ../sass/components/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }

  /* line 163, ../sass/components/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  /* line 170, ../sass/components/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }

  /* line 178, ../sass/components/_timeline.scss */
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }

  /* line 183, ../sass/components/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}
