/* line 7, ../sass/components/_global.scss */
.container {
  width: 100%;
  padding: 0;
  max-width: 1280px;
}

/* line 13, ../sass/components/_global.scss */
body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #5E53FB;
}

/* line 3, ../sass/components/_nav.scss */
#nav {
  text-align: center;
}
/* line 6, ../sass/components/_nav.scss */
#nav .me {
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

/* line 14, ../sass/components/_nav.scss */
#info {
  text-align: center;
  margin-bottom: 10px;
}
/* line 18, ../sass/components/_nav.scss */
#info h4 {
  margin-bottom: 0.5rem;
}
/* line 21, ../sass/components/_nav.scss */
#info .social {
  height: 28px;
  margin: 0 5px;
}
/* line 25, ../sass/components/_nav.scss */
#info .twitter {
  height: 28px;
  margin: 0 5px;
}

/* line 2, ../sass/components/_project.scss */
#projects {
  text-align: center;
}
/* line 5, ../sass/components/_project.scss */
#projects .project-container {
  height: 275px;
  border: 1px dotted #5E53FB;
  text-align: center;
  background-size: 35% !important;
  background-color: #fff !important;
}
@media only screen and (max-width: 480px) {
  /* line 5, ../sass/components/_project.scss */
  #projects .project-container {
    height: 215px;
    margin-left: 2%;
    margin-right: 2%;
  }
}
/* line 19, ../sass/components/_project.scss */
#projects .project-container span {
  display: block;
}
/* line 22, ../sass/components/_project.scss */
#projects .project-container a {
  text-decoration: none;
}
/* line 26, ../sass/components/_project.scss */
#projects .project-container .project-info {
  opacity: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 22px;
}
/* line 33, ../sass/components/_project.scss */
#projects .project-container .project-info .name {
  padding-top: 20px;
  font-weight: bold;
}
/* line 37, ../sass/components/_project.scss */
#projects .project-container .project-info .date {
  font-style: italic;
}
@media only screen and (max-width: 960px) {
  /* line 26, ../sass/components/_project.scss */
  #projects .project-container .project-info {
    opacity: 1;
    background-color: rgba(94, 83, 251, 0.5);
    background: rgba(94, 83, 251, 0.5);
    color: #fff;
  }
}
/* line 51, ../sass/components/_project.scss */
#projects .project-container:hover .project-info {
  opacity: 1;
  transition: opacity .2s ease-in;
  background-color: rgba(94, 83, 251, 0.6);
  background: rgba(94, 83, 251, 0.6);
  color: #fff;
}
