// Global styles

// Some variables
$white: #fff;
$brown: #483D3F;
$blue: #0081AF;
$border: 1px dotted $brown;
$gray: #F6F6F6;

.container {
  width: 100%;
  padding: 0;
  max-width: 1140px;
  // border-left: $border;
  // border-bottom: $border;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $gray;
  color: $brown;
  animation-name: fadeIn;
  opacity: 0;
  animation: 0.5s;
}

a {
  color: $brown;

  &:hover {
    color: $blue;
  }
}
@keyframes grow {
  0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.3% { transform: matrix3d(1.008, 0, 0, 0, 0, 1.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.61% { transform: matrix3d(1.013, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.91% { transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.22% { transform: matrix3d(1.016, 0, 0, 0, 0, 1.016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.33% { transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.44% { transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.66% { transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.98% { transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1.015, 0, 0, 0, 0, 1.015, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.letter {
  margin: 0 2px;
}
.letter-space {
  display: none;
}
.letter-7 {
  margin-right: 10px;
}

// Animations for icons
.icobutton::after {
	border: 5px solid rgba(111,148,182,0.8);
}

.icobutton.icobutton--hover::after {
	-webkit-animation: anim-effect-jelena 0.4s ease-out forwards;
	animation: anim-effect-jelena 0.4s ease-out forwards;
}
.icobutton::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -79% 0 0 -80%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}
@-webkit-keyframes anim-effect-jelena {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.5, 1.5, 1);
		transform: scale3d(1.5, 1.5, 1);
	}
}
