// Global styles

// Some variables
$white: #fff;
$blue: #5E53FB;

.container {
  width: 100%;
  padding: 0;
  max-width: 1280px;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $white;
  color: $blue;
}
