// Navigation

#nav {
  text-align: center;

  #me {
    h2,
    h5 {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
  .pic {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
  }

  .columns {
    margin-left: 0;
  }

  #links {
    list-style: none;
    text-align: left;
    padding: 20px 80px;
    font-weight: bold;
  }
  #blurb {
    padding: 0 80px;
    text-align: left;
  }
}

#info {
  text-align: left;
  margin-bottom: 10px;
  list-style: none;
  font-weight: bold;
  padding: 20px 80px;

  .social {
    height: 28px;
    margin: 0 5px;
  }
  .twitter {
    height: 28px;
    margin: 0 5px;
  }

}
