// Navigation

#nav {
  margin-bottom: 20px;

  text-align: center;

  .me {
    width: 64%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
  }
  .social {
    //width: 35px;
    height: 28px;
    display: block;
    float: left;
  }
}
