// Navigation

#nav {
  text-align: center;

  #me {
    border: $border;
    border-top: 0;
    border-bottom: 0;
    padding-bottom: 15px;

    h2,
    h5 {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    @include mobile_tablet {
      border: none;
    }
  }

  .pic {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;

    @include mobile_tablet {
      width: 50%;
    }
  }

  .columns {
    margin-left: 0;
  }

  #left {
    @include mobile_tablet {
      text-align: center;
    }
  }

  #links {
    list-style: none;
    text-align: left;
    padding: 20px 80px;
    font-weight: bold;

    @include mobile_tablet {
      padding: 20px 40px;
      text-align: center;
    }

    li {
      @include mobile_tablet {
          float: left;
          padding: 0 10px;
      }
    }
  }
  #blurb {
    padding: 0 80px;
    text-align: left;

    @include mobile_tablet {
      text-align: center;
      padding: 0 40px;
    }
  }
}

#info {
  text-align: left;
  margin-bottom: 10px;
  list-style: none;
  font-weight: bold;
  padding: 20px 80px;

  .social {
    height: 28px;
    margin: 0 5px;
  }
  .twitter {
    height: 28px;
    margin: 0 5px;
  }

}
