// Projects
#project {

  .project-list {
    list-style: none;
    text-align: center;

    li {
      float: left;
      width: 47%;
      text-align: left;
      height: 200px;
      margin-bottom: 20px;
      margin-right: 28px;

      overflow: hidden;
      -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

      @include mobile_tablet {
        width: 95%;
        margin-left: 20px;
        margin-right: 20px;
      }

      &:hover {

      }

      img {
        width: 250px;
        float: left;
        margin-right: 10px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
