// Projects
#projects {
  text-align: center;

  .project-container {
    height: 275px;
    border: 1px dotted $blue;
    text-align: center;

    background-size: 35% !important;
    background-color: #fff !important;

    @include mobile {
      height: 215px;
      margin-left: 2%;
      margin-right: 2%;
    }

    span {
      display: block;
    }
    a {
      text-decoration: none;
    }

  .project-info {
      opacity: 0;
      height: 100%;
      width: 100%;
      color: #fff;
      font-size: 22px;

      .name {
        padding-top: 20px;
        font-weight: bold;
      }
      .date {
        font-style: italic;
      }

      // Keep overlay on mobile cause no hover

      @include mobile_tablet {
        opacity: 1;
        background-color: rgba(94, 83, 251, 0.5);
        background: rgba(94, 83, 251, 0.5);
        color: #fff;
      }
    }

    &:hover .project-info {
      opacity: 1;
      transition: opacity .2s ease-in;
      background-color: rgba(94, 83, 251, 0.6);
      background: rgba(94, 83, 251, 0.6);
      color: #fff;
    }
  }
}
