// Projects
#projects {
  text-align: center;

  .columns {
    &:nth-child(odd) {
      margin-left: 0;
    }
    &:nth-child(even) {
      margin-left: 4%;
    }
  }
  .project-container {
    height: 275px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.75);

    span {
      display: block;
    }
    a {
      text-decoration: none;
    }

  .project-info {
      opacity: 0;
      height: 100%;
      width: 100%;
      color: #fff;
      border-radius: 6px;
      font-size: 22px;

      .name {
        padding-top: 20px;
      }
    }

    &:hover .project-info {
      opacity: 1;
      transition: opacity .2s ease-in;
      background-color: rgba(0, 0, 0, 0.5);
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
    }

  }
}
