$blue: #0081AF;
$brown: #483D3F;
$lightBrown: #7E7778;
$gray: #BABABA;

#main {
  max-width: 1280px;
  margin: auto;
  text-align: center;

  .row {
    margin-bottom: 45px;
  }
  #top {
    margin-bottom: 0;
  }
}
// Pulsing circle
#pulse {
  &:hover .loading-pulse {
    animation: pulse 2s ease-in-out infinite;
  }
}
.loading-pulse {
  height: 20px;
  width: 20px;
  background-color: #0081AF;
  margin: auto;
  border-radius: 50%;
}

// Pulse animation
@keyframes pulse {
  0% { opacity: 1; transform: scale(.5,.5);}
  50% { opacity: .2; transform: scale(1.5,1.5);}
  100% { opacity: 1; transform: scale(.5,.5);}
}

// Sliders
#sliders {
  &:hover {
    .slice {
      &:nth-child(odd) {
        animation: slideLeft 2s ease-in-out infinite;
      }
      &:nth-child(even) {
        animation: slideRight 2s ease-in-out infinite;
      }
    }
  }
}
.sliders {
  height: 40px;
  width: 40px;
  margin: auto;

  .slice {
    height: 5px;
    width: 40px;

    &:nth-child(odd) {
      background-color: $blue;
    }
    &:nth-child(even) {
      background-color: $brown;
    }
  }
}
// Sliders animation
@keyframes slideLeft {
  0%{transform: translateX(0px);}
  25% {transform: translateX(-15px);}
  50%{transform: translateX(0px);}
  75% {transform: translateX(15px);}
  100%{transform: translateX(0px);}
}
@keyframes slideRight {
  0%{transform: translateX(0px);}
  25% {transform: translateX(15px);}
  50%{transform: translateX(0px);}
  75% {transform: translateX(-15px);}
  100%{transform: translateX(0px);}
}

// Spinny fan
#fan {
  &:hover .fan {
    animation: rotate 1.8s ease-in-out infinite;
  }
}
.fan {
  height: 20px;
  width: 45px;
  margin: auto;
  margin-top: 30px;

  .blade {
    width: 100%;
    height: 5px;

    &:nth-child(1) {
      background-color: $blue;
      transform: translateY(7.5px);
    }
    &:nth-child(2) {
      background-color: $lightBrown;
      transform: translateY(2.5px) rotate(135deg);
    }
    &:nth-child(3) {
      background-color: $brown;
      transform: translateY(-2.5px) rotate(45deg);
    }
    &:nth-child(4) {
      background-color: $gray;
      transform: translateY(-7.5px) rotate(270deg);
    }
  }
}

// Fan rotate animation
@keyframes rotate {
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}

// Equalizer
#eq {
  &:hover {
    .bar {
      &:nth-child(1) {
        animation: eq .5s ease-in-out infinite;
      }
      &:nth-child(2) {
        animation: eq .5s .1s ease-in-out infinite;
      }
      &:nth-child(3) {
        animation: eq .5s .2s ease-in-out infinite;
      }
      &:nth-child(4) {
        animation: eq .5s .3s ease-in-out infinite;
      }
      &:nth-child(5) {
        animation: eq .5s .4s ease-in-out infinite;
      }
    }
  }
}
.equalizer {
  height: 50px;
  width: 50px;
  margin: auto;

  .bar {
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 50%;

    &:nth-child(odd) {
      background-color: $brown;
    }
    &:nth-child(even) {
      background-color: $blue;
    }
  }
}
// Eq animation
@keyframes eq {
  0% {transform: translateY(0);}
  50% {transform: translateY(-15px);}
  100% {transform: translateY(0);}
}

// DNA
#dna {
  &:hover {
    .dna-left {
      .strand {
        &:nth-child(1) {
          animation: dnaLeft .8s ease-in-out infinite;
        }
        &:nth-child(2) {
          animation: dnaLeft .8s .1s ease-in-out infinite;
        }
        &:nth-child(3) {
          animation: dnaLeft .8s .2s ease-in-out infinite;
        }
        &:nth-child(4) {
          animation: dnaLeft .8s .3s ease-in-out infinite;
        }
        &:nth-child(5) {
          animation: dnaLeft .8s .4s ease-in-out infinite;
        }
      }
    }
    .dna-right {
      .strand {
        &:nth-child(1) {
          animation: dnaRight .8s ease-in-out infinite;
        }
        &:nth-child(2) {
          animation: dnaRight .8s .1s ease-in-out infinite;
        }
        &:nth-child(3) {
          animation: dnaRight .8s .2s ease-in-out infinite;
        }
        &:nth-child(4) {
          animation: dnaRight .8s .3s ease-in-out infinite;
        }
        &:nth-child(5) {
          animation: dnaRight .8s .4s ease-in-out infinite;
        }
      }
    }
  }
}
.full-dna {
  height: 50px;
  width: 50px;
  margin: auto;

  .dna {
    width: 50%;
    float: left;
    text-align: center;

    .strand {
      height: 10px;
      width: 10px;
      margin: auto;
      border-radius: 50%;

      &:nth-child(odd) {
        background-color: $brown;
      }
      &:nth-child(even) {
        background-color: $blue;
      }
    }
  }
}
// DNA animation
@keyframes dnaLeft {
  0% {transform: translateX(0);}
  50% {transform: translateX(20px);}
  100% {transform: translateX(0);}
}
@keyframes dnaRight {
  0% {transform: translateX(0);}
  50% {transform: translateX(-20px);}
  100% {transform: translateX(0);}
}

// Loading word
#word {
  &:hover {
    span {
      &:nth-child(1) {
        animation: flip 1.3s ease-in-out infinite;
      }
      &:nth-child(2) {
        animation: flip 1.3s .1s ease-in-out infinite;
      }
      &:nth-child(3) {
        animation: flip 1.3s .2s ease-in-out infinite;
      }
      &:nth-child(4) {
        animation: flip 1.3s .3s ease-in-out infinite;
      }
      &:nth-child(5) {
        animation: flip 1.3s .4s ease-in-out infinite;
      }
      &:nth-child(6) {
        animation: flip 1.3s .5s ease-in-out infinite;
      }
      &:nth-child(7) {
        animation: flip 1.3s .6s ease-in-out infinite;
      }
    }
  }
}
.word {
  span {
    display: inline-block;
  }
}

@keyframes flip {
  100% { transform: rotateX(360deg); }
}
