body {
  background-color: #EAEAEA;
  color: #454851;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
#main {
  text-align: center;
}

.header {
  opacity: 0;
  transform: rotate(20deg);
  animation: rollIn 1s ease-in-out;
  animation-fill-mode: forwards;
  font-size: 2rem;
}

.button {
  opacity: 0;
  animation: fadeIn 1s 1s ease-in-out;
  animation-fill-mode: forwards;
}

.fade {
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

#results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 375px;
}

.result {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 2.2rem;
}

@keyframes rollIn {
  0% {opacity: 0;transform: rotate(20deg);font-size: 2rem;}
  100% {opacity: 1;transform: rotate(0deg);font-size: 3rem;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
